= simple_form_for(@alias) do |f|
  = f.error_notification
  - disabled = action_name == 'edit' || action_name == 'update' ? true : false
  - created = action_name == 'edit' || action_name == 'update' ? @alias.created : Time.now.utc
  .form-inputs
    = f.input :address, :disabled => disabled
    = f.input :goto
    = f.input :domain do
      = f.select :domain, Domain.all.map { |d| [d.domain] }, include_blank: true
    = f.input :created, as: :hidden, input_html: { value: created }
    = f.input :modified, as: :hidden, input_html: { value: Time.now.utc }
    = f.input :active

  .form-actions
    = f.button :submit
