%h1 Aliases
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Address
        %th Goto
        %th Domain
        %th Active
        %th
        %th
        %th= link_to 'New Alias', new_alias_path
    %tbody
      - @aliases.each do |a|
        %tr
          %td= mail_to a.address
          %td= mail_to a.goto
          %td= a.domain
          %td= a.active
          %td= link_to 'Show', a
          %td= link_to 'Edit', edit_alias_path(a)
          %td= link_to 'Destroy', a, :method => :delete, :data => { :confirm => 'Are you sure?' }
  = paginate @aliases
  = page_entries_info @aliases