%h1 Alias
%p
  %b Address:
  = mail_to @alias.address
%p
  %b Goto:
  = mail_to @alias.goto
%p
  %b Domain:
  = @alias.domain
%p
  %b Created:
  = @alias.created
%p
  %b Modified:
  = @alias.modified
%p
  %b Active:
  = @alias.active

= link_to 'Edit', edit_alias_path(@alias)
\|
= link_to 'Back', aliases_path
