= simple_form_for(@domain_admin) do |f|
  = f.error_notification
  - created = action_name == 'edit' || action_name == 'update' ? @domain_admin.created : Time.now.utc
  .form-inputs
    = f.input :username do
      = f.select :username, Admin.all.map { |d| [d.username] }, include_blank: true
    = f.input :domain do
      = f.select :domain, Domain.all.map { |d| [d.domain] }, include_blank: true
    = f.input :created, as: :hidden, input_html: { value: created }
    = f.input :active

  .form-actions
    = f.button :submit

  = hidden_field_tag 'action', nil, data: { action: action_name }