%h1 Domain Admins
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Username
        %th Domain
        %th Active
        %th
        %th
        %th= link_to 'New Domain admin', new_domain_admin_path
    %tbody
      - @domain_admins.each do |domain_admin|
        %tr
          %td= mail_to domain_admin.username
          %td= domain_admin.domain
          %td= domain_admin.active
          %td= link_to 'Show', domain_admin
          %td= link_to 'Edit', edit_domain_admin_path(domain_admin)
          %td= link_to 'Destroy', domain_admin, :method => :delete, :data => { :confirm => 'Are you sure?' }
  = paginate @domain_admins
  = page_entries_info @domain_admins