%h1 Domain Admin
%p
  %b Username:
  = mail_to @domain_admin.username
%p
  %b Domain:
  = @domain_admin.domain
%p
  %b Created:
  = @domain_admin.created
%p
  %b Active:
  = @domain_admin.active

= link_to 'Edit', edit_domain_admin_path(@domain_admin)
\|
= link_to 'Back', domain_admins_path
