%h1 Sign up
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
  = f.error_notification
  = display_base_errors resource
  = f.input :name, :autofocus => true
  = f.input :email, :required => true
  = f.input :password, :required => true
  = f.input :password_confirmation, :required => true
  .control-group
    = f.label 'recaptcha_area' do
      %abbr{title: 'required'}*
      = t(:label_captcha)
    .controls= recaptcha_tags display: { theme: 'white' }
  = f.button :submit, 'Sign up'
= render "devise/shared/links"
