= simple_form_for(@vacation) do |f|
  = f.error_notification
  - created = action_name == 'edit' || action_name == 'update' ? @vacation.created : Time.now.utc
  .form-inputs
    = f.input :email do
      = f.select :email, Mailbox.all.map { |d| [d.username] }, include_blank: true
    = f.input :subject
    = f.input :body
    = f.input :cache
    = f.input :domain
    = f.input :created, as: :hidden, input_html: { value: created }
    = f.input :active

  .form-actions
    = f.button :submit

  = hidden_field_tag 'action', nil, data: { action: action_name }