%h1 Vacations
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Email
        %th Subject
        %th Domain
        %th Active
        %th
        %th
        %th= link_to 'New Vacation', new_vacation_path
    %tbody
      - @vacations.each do |vacation|
        %tr
          %td= vacation.email
          %td= vacation.subject
          %td= vacation.domain
          %td= vacation.active
          %td= link_to 'Show', vacation
          %td= link_to 'Edit', edit_vacation_path(vacation)
          %td= link_to 'Destroy', vacation, :method => :delete, :data => { :confirm => 'Are you sure?' }
  = paginate @vacations
  = page_entries_info @vacations