%h1 Vacation
%p
  %b Email:
  = @vacation.email
%p
  %b Subject:
  = @vacation.subject
%p
  %b Body:
  = @vacation.body
%p
  %b Cache:
  = @vacation.cache
%p
  %b Domain:
  = @vacation.domain
%p
  %b Created:
  = @vacation.created
%p
  %b Active:
  = @vacation.active

= link_to 'Edit', edit_vacation_path(@vacation)
\|
= link_to 'Back', vacations_path
