= simple_form_for(@admin) do |f|
  = f.error_notification
  - disabled = action_name == 'edit' || action_name == 'update' ? true : false
  - created = action_name == 'edit' || action_name == 'update' ? @admin.created : Time.now.utc
  .form-inputs
    = f.input :username, :disabled => disabled
    = f.input :password
    = f.input :created, as: :hidden, input_html: { value: created }
    = f.input :modified, as: :hidden, input_html: { value: Time.now.utc }
    = f.input :active

  .form-actions
    = f.button :submit
