%h1 Admins
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Username
        %th Active
        %th
        %th
        %th= link_to 'New Admin', new_admin_path
    %tbody
      - @admins.each do |admin|
        %tr
          %td= mail_to admin.username
          %td= admin.active
          %td= link_to 'Show', admin
          %td= link_to 'Edit', edit_admin_path(admin)
          %td= link_to 'Destroy', admin, :method => :delete, :data => { :confirm => 'Are you sure?' }
  = paginate @admins
  = page_entries_info @admins