%h1 Admin
%p
  %b Username:
  = mail_to @admin.username
%p
  %b Created:
  = @admin.created
%p
  %b Modified:
  = @admin.modified
%p
  %b Active:
  = @admin.active

= link_to 'Edit', edit_admin_path(@admin)
\|
= link_to 'Back', admins_path
