%h1 Forgot your password?

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-vertical' }) do |f|
  = f.error_notification
  = display_base_errors resource

  = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }

  = f.button :submit, 'Send me reset password instructions'
= render "devise/shared/links"