= simple_form_for(@domain) do |f|
  = f.error_notification
  - disabled = action_name == 'edit' || action_name == 'update' ? true : false
  - maxquota = action_name == 'edit' || action_name == 'update' ? @domain.maxquota : '10'
  - created = action_name == 'edit' || action_name == 'update' ? @domain.created : Time.now.utc
  .form-inputs
    = f.input :domain, :disabled => disabled
    = f.input :description
    - if action_name != 'new'
      = label_tag 'aliases'
      = select_tag 'aliases', options_for_select(@aliases.collect(&:address)), multiple: true, disabled: true
      = f.input :aliases, as: :hidden, input_html: { value: @aliases.count }
      = label_tag 'mailboxes'
      = select_tag 'mailboxes', options_for_select(@mailboxes.collect(&:username)), multiple: true, disabled: true
      = f.input :mailboxes, as: :hidden, input_html: { value: @mailboxes.count }
    = f.input :maxquota, input_html: { value: maxquota }
    = f.input :transport
    = f.input :backupmx
    = f.input :created, as: :hidden, input_html: { value: created }
    = f.input :modified, as: :hidden, input_html: { value: Time.now.utc }
    = f.input :active

  .form-actions
    = f.button :submit
