%h1 Domains
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Domain
        %th Description
        %th Aliases
        %th Mailboxes
        %th Maxquota
        %th Transport
        %th Backupmx
        %th Active
        %th
        %th
        %th= link_to 'New Domain', new_domain_path
    %tbody
      - @domains.each do |domain|
        %tr
          %td= domain.domain
          %td= domain.description
          %td= domain.aliases
          %td= domain.mailboxes
          %td= domain.maxquota
          %td= domain.transport
          %td= domain.backupmx
          %td= domain.active
          %td= link_to 'Show', domain
          %td= link_to 'Edit', edit_domain_path(domain)
          %td= link_to 'Destroy', domain, :method => :delete, :data => { :confirm => 'Are you sure?' }
  = paginate @domains
  = page_entries_info @domains