%h1 Domain
%p
  %b Domain:
  = @domain.domain
%p
  %b Description:
  = @domain.description
%p
  %b Aliases:
  = @domain.aliases
%p
  %b Mailboxes:
  = @domain.mailboxes
%p
  %b Maxquota:
  = @domain.maxquota
%p
  %b Transport:
  = @domain.transport
%p
  %b Backupmx:
  = @domain.backupmx
%p
  %b Created:
  = @domain.created
%p
  %b Modified:
  = @domain.modified
%p
  %b Active:
  = @domain.active

= link_to 'Edit', edit_domain_path(@domain)
\|
= link_to 'Back', domains_path
