= simple_form_for(@mailbox) do |f|
  = f.error_notification
  - value = action_name == 'edit' || action_name == 'update' ? @mailbox.quota : '1024000'
  - created = action_name == 'edit' || action_name == 'update' ? @mailbox.created : Time.now.utc
  .form-inputs
    .left= f.input :username
    .left
      = f.input :domain do
        = f.select :domain, Domain.all.map { |d| [d.domain] }, include_blank: true
    .clear
    = f.input :password
    = f.input :name
    = f.input :maildir
    = f.input :quota, input_html: { value: value }
    = f.input :created, as: :hidden, input_html: { value: created }
    = f.input :modified, as: :hidden, input_html: { value: Time.now.utc }
    = f.input :active

  .form-actions
    = f.button :submit

  = hidden_field_tag 'action', nil, data: { action: action_name }
