%h1 Mailboxes
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Username
        %th Name
        %th Maildir
        %th Quota
        %th Domain
        %th Active
        %th
        %th
        %th= link_to 'New Mailbox', new_mailbox_path
    %tbody
      - @mailboxes.each do |mailbox|
        %tr
          %td= mail_to mailbox.username
          %td= mailbox.name
          %td= mailbox.maildir
          %td= mailbox.quota
          %td= mailbox.domain
          %td= mailbox.active
          %td= link_to 'Show', mailbox
          %td= link_to 'Edit', edit_mailbox_path(mailbox)
          %td= link_to 'Destroy', mailbox, :method => :delete, :data => { :confirm => 'Are you sure?' }
  = paginate @mailboxes
  = page_entries_info @mailboxes