%h1 Mailbox
%p
  %b Username:
  = mail_to @mailbox.username
%p
  %b Name:
  = @mailbox.name
%p
  %b Maildir:
  = @mailbox.maildir
%p
  %b Quota:
  = @mailbox.quota
%p
  %b Domain:
  = @mailbox.domain
%p
  %b Created:
  = @mailbox.created
%p
  %b Modified:
  = @mailbox.modified
%p
  %b Active:
  = @mailbox.active

= link_to 'Edit', edit_mailbox_path(@mailbox)
\|
= link_to 'Back', mailboxes_path
