// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal-header a {
  float: right;
  cursor: pointer;
  padding: 0 6px 0 6px;
}

.span8 {
  width: 94%;
}

.brand {
  font-size: 30px !important;
  font-weight: bold !important;
}

h1, h2, h3 {
  font-size: large;
}