// Place all the styles related to the mailboxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}