= simple_form_for(@log) do |f|
  = f.error_notification

  .form-inputs
    = f.input :timestamp
    = f.input :username
    = f.input :domain
    = f.input :action
    = f.input :data

  .form-actions
    = f.button :submit
