%h1 Logs
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Timestamp
        %th Username
        %th Domain
        %th Action
        %th Data
        %th
        %th
        %th
    %tbody
      - @logs.each do |log|
        %tr
          %td= log.timestamp
          %td= mail_to log.username
          %td= log.domain
          %td= log.action
          %td= log.data
          %td= link_to 'Show', log
          %td= link_to 'Destroy', log, :method => :delete, :data => { :confirm => 'Are you sure?' }
  = paginate @logs
  = page_entries_info @logs