%h1 Log
%p
  %b Timestamp:
  = @log.timestamp
%p
  %b Username:
  = mail_to @log.username
%p
  %b Domain:
  = @log.domain
%p
  %b Action:
  = @log.action
%p
  %b Data:
  = @log.data

= link_to 'Back', logs_path
