%ul.nav
  %li= link_to 'Admins', admins_path
  %li= link_to 'Domain Admins', domain_admins_path
  %li= link_to 'Domains', domains_path
  %li= link_to 'Aliases', aliases_path
  %li= link_to 'Mailboxes', mailboxes_path
  %li= link_to 'Vacations', vacations_path
  %li= link_to 'Logs', logs_path