!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Mail Suite"
      %meta{:content => content_for?(:description) ? yield(:description) : "Mail Suite", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button{type: "button", class: "navbar-toggle collapsed", "data-toggle": "collapse", "data-target": "#bs-navbar-collapse", "aria-expanded": "false"}
            %span.sr-only = "Toggle navigation"
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Mail Suite", root_path, :class => 'navbar-brand'
        .collapse.navbar-collapse{:id => "bs-navbar-collapse"}
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer
      / ! end of .container
    / ! end of #main
